body{
	margin: 0px;
	background-color: black ;
}
a{
	text-decoration-style: none;
	text-decoration: none;
	margin: 0px;
}
.topbar{
	background-color: #F6751C;
	padding-bottom: 16px;
	padding-top: 0px;
}
.prime{
	padding-bottom: 13px;
}
.prime > a{
	font-size: 150px;
	color: white;
}
#title{
	padding-left: 20px;
	margin-top: 0;
}
.links{
	text-decoration-color: white;
	margin: 0px;	
}
.lin{
	margin: 0px;
}
.links a{
	font-family: Calibri;
	color: white;
	margin-left: -4px;
	font-size: 17px;
	padding: 16px;
	background-color: #F6751C;

}
.links > a:hover{
	font-size: 18px;
	padding: 18px;
	border-right: 3px solid white;
	color: white;
	background-color: black ;
}
.links > a:active{
	font-size: 18px;
	padding: 18px;
	color: white;
	background-color: black ;
}
#current{
	font-size: 18px;
	padding: 18px;
	color: white;
	background-color: black ;
	border-right: 3px solid black;
}
.prime:hover{
	opacity: 0.85;
}
#heading{
	color: white;
	font-size: 40px;
}



p{
	color: white;
}

#s1{
	border: 1px solid #00FFFF;
	float: left;
	width: 33.33%;
	box-sizing: border-box;
}
#s2{
	border: 1px solid #00FFFF;
	float: left;
	width: 33.33%;
	box-sizing: border-box;
}
#s3{
	border: 1px solid #00FFFF;
	float: left;
	width: 33.33%;
	box-sizing: border-box;
}
#s1 > h5{
	color: black;
	font-size: 25px;
	text-align: center;
	background-color: #00FFFF;
}
#s1 > p{
	padding: 10px;
}
#s2 > h5{
	color: black;
	font-size: 25px;
	text-align: center;
	background-color: #00FFFF;
}
#s2 > p{
	padding: 10px;
}
#s3 > h5{
	color: black;
	font-size: 25px;
	text-align: center;
	background-color: #00FFFF;
}
#s3 > p{
	padding: 10px;
}

.sections{
	float: left;
	margin-bottom: 30px;
	padding-bottom: 30px;
	margin-top: 20px;
}

@media (max-width: 992px){
	.topbar{
	background-color: #F6751C;
	padding-bottom: 14px;
	padding-top: 0px;
	}
	.prime{
		padding-right: 20px;
		padding-top: 10px;
		padding-bottom: 20px;
		padding-left: 0px;
	}
	.prime > a{
		font-size: 50px;
		color: white;
	}
	#title{
		padding-left: 10px;
		margin-top: 0;
	}
	.links{
		text-decoration-color: white;
		margin: 0px;	
	}
	.lin{
		margin: 0px;
	}
	.links a{
		font-family: Calibri;
		color: white;
		margin-left: -4px;
		font-size: 15px;
		padding: 15px;
		background-color: #F6751C;

	}
	.links > a:hover{
		font-size: 16px;
		padding: 15px;
		border-right: 2px solid white;
		color: white;
		background-color: black ;
	}
	.links > a:active{
		font-size: 16px;
		padding: 15px;
		color: white;
		background-color: black ;
	}
	#current{
		font-size: 16px;
		padding: 15px;
		color: white;
		background-color: black ;
		border-right: 2px solid black;
	}
	#heading{
		color: white;
		font-size: 40px;
	}


	#s1{
		border: 1px solid #00FFFF;
		float: left;
		width: 33.33%;
		box-sizing: border-box;
	}
	#s2{
		border: 1px solid #00FFFF;
		float: left;
		width: 33.33%;
		box-sizing: border-box;
	}
	#s3{
		border: 1px solid #00FFFF;
		float: left;
		width: 33.33%;
		box-sizing: border-box;
	}
	#s1 > h5{
		color: black;
		font-size: 25px;
		text-align: center;
		background-color: #00FFFF;
	}
	#s1 > p{
		padding: 10px;
	}
	#s2 > h5{
		color: black;
		font-size: 25px;
		text-align: center;
		background-color: #00FFFF;
	}
	#s2 > p{
		padding: 10px;
	}
	#s3 > h5{
		color: black;
		font-size: 25px;
		text-align: center;
		background-color: #00FFFF;
	}
	#s3 > p{
		padding: 10px;
	}

	.sections{
		float: left;
		margin-bottom: 30px;
		padding-bottom: 30px;
		margin-top: 20px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.topbar{
	background-color: #F6751C;
	padding-bottom: 15px;
	padding-top: 0px;
	}
	.prime{
		padding-right: 20px;
		padding-top: 10px;
		padding-bottom: 20px;
		padding-left: 0px;
	}
	.prime > a{
		font-size: 100px;
		color: white;
	}
	#title{
		padding-left: 10px;
		margin-top: 0;
	}
	.links{
		text-decoration-color: white;
		margin: 0px;	
	}
	.lin{
		margin: 0px;
	}
	.links a{
		font-family: Calibri;
		color: white;
		margin-left: -4px;
		font-size: 13px;
		padding: 15px;
		background-color: #F6751C;

	}
	.links > a:hover{
		font-size: 14px;
		padding: 15px;
		border-right: 2px solid white;
		color: white;
		background-color: black ;
	}
	.links > a:active{
		font-size: 14px;
		padding: 15px;
		color: white;
		background-color: black ;
	}
	#current{
		font-size: 14px;
		padding: 15px;
		color: white;
		background-color: black ;
		border-right: 2px solid black;
	}
	#heading{
		color: white;
		font-size: 30px;
	}
	#s1{
		border: 1px solid #00FFFF;
		float: left;
		width: 50%;
		box-sizing: border-box;
	}
	#s2{
		border: 1px solid #00FFFF;
		float: left;
		width: 50%;
		box-sizing: border-box;
	}
	#s3{
		border: 1px solid #00FFFF;
		float: left;
		width: 100%;
		box-sizing: border-box;
	}
	#s1 > h5{
		color: black;
		font-size: 25px;
		text-align: center;
		background-color: #00FFFF;
	}
	#s1 > p{
		padding: 10px;
	}
	#s2 > h5{
		color: black;
		font-size: 25px;
		text-align: center;
		background-color: #00FFFF;
	}
	#s2 > p{
		padding: 10px;
	}
	#s3 > h5{
		color: black;
		font-size: 25px;
		text-align: center;
		background-color: #00FFFF;
	}
	#s3 > p{
		padding: 10px;
	}

	.sections{
		float: left;
		margin-bottom: 30px;
		padding-bottom: 30px;
		margin-top: 20px;
	}
}
@media (max-width: 767px){
	.topbar{
	background-color: #F6751C;
	padding-bottom: 14px;
	padding-top: 0px;
	}
	.prime{
		padding-right: 20px;
		padding-top: 10px;
		padding-bottom: 20px;
		padding-left: 0px;
	}
	.prime > a{
		font-size: 50px;
		color: white;
	}
	#title{
		padding-left: 10px;
		margin-top: 0;
	}
	.links{
		text-decoration-color: white;
		margin: 0px;	
	}
	.lin{
		margin: 0px;
	}
	.links a{
		font-family: Calibri;
		color: white;
		margin-left: -4px;
		font-size: 11px;
		padding: 15px;
		background-color: #F6751C;

	}
	.links > a:hover{
		font-size: 12px;
		padding: 15px;
		border-right: 2px solid white;
		color: white;
		background-color: black ;
	}
	.links > a:active{
		font-size: 12px;
		padding: 15px;
		color: white;
		background-color: black ;
	}
	#current{
		font-size: 12px;
		padding: 15px;
		color: white;
		background-color: black ;
		border-right: 2px solid black;
	}
	#heading{
		color: white;
		font-size: 20px;
	}
	#s1{
		border: 1px solid #00FFFF;
		float: left;
		width: 100%;
		box-sizing: border-box;
	}
	#s2{
		border: 1px solid #00FFFF;
		float: left;
		width: 100%;
		box-sizing: border-box;
	}
	#s3{
		border: 1px solid #00FFFF;
		float: left;
		width: 100%;
		box-sizing: border-box;
	}
	#s1 > h5{
		color: black;
		font-size: 25px;
		text-align: center;
		background-color: #00FFFF;
	}
	#s1 > p{
		padding: 10px;
	}
	#s2 > h5{
		color: black;
		font-size: 25px;
		text-align: center;
		background-color: #00FFFF;
	}
	#s2 > p{
		padding: 10px;
	}
	#s3 > h5{
		color: black;
		font-size: 25px;
		text-align: center;
		background-color: #00FFFF;
	}
	#s3 > p{
		padding: 10px;
	}

	.sections{
		float: left;
		margin-bottom: 30px;
		padding-bottom: 30px;
		margin-top: 20px;
	}
}